/* css for list view */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
.data-td,
.data-td-svg {
    color: var(--white-1, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading/Med */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.5px;

    height: 20px;
    padding: 0px 16px;
    text-align: left;
    padding: 10px;
}

#th-last {
    border-radius: 0px 6px 6px 0px;
}

#heading-tr {
    background: #4D5875;
}

td {
    padding: 10px;
}

.table-svg {
    padding-right: 2%;
    /* margin-top: 3%; */
}

.data-tr {
    border-top: 1px solid white;
    padding: 10px;
}

.data-td-svg {
    display: flex;
    justify-self: center;
    align-items: center;
    padding-top: 3%;
}


/* css for grid view */

#grid-view {
    display: flex;
    flex-wrap: wrap;
}

#base-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.main-container {
    flex-shrink: 0;
    width: 354px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.img-container {
    height: 160px;
    width: 100%;
    align-self: stretch;
    border-radius: 8px;
    background: var(--white-2, #FAFAFB);
}

.desc-container {
    display: flex;
    padding: 5px 9px 5px 9px;
    width: 95%;
    justify-content: space-between;
    /* margin-bottom: 5%; */
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: rgba(249, 250, 253, 0.20);
}


.name-container {
    display: flex;
}

.name-svg {
    margin-top: 0.7vh;
}

.about-more {
    display: flex;
    padding: 4px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: rgba(249, 250, 253, 0.20);
}

.table-more {
    cursor: pointer;
    width: min-content;
}

.about-more:hover {
    cursor: pointer;
}

.table-svg:hover {
    cursor: pointer;
}

/* css for loading */

.loader-container {
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* more options */

.about-more-options {
    display: flex;
    width: 172px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--black-dark-200, #F1F1F5);
    background: #FFF;
}

.more-option:hover {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--grey-3, #F1F1F5);
}

.more-option {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px;
}

.more-option-name {
    color: var(--text-black, #252C32);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 166.667% */
    letter-spacing: 0.5px;
}

.more-option-delete {
    color: #F15454;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 183.333% */
    letter-spacing: 0.5px;
}


/* Delete option */

#main-delete {
    display: flex;
    width: 400px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 12px;
    background: var(--white, #FFF);

    /* Shadow/xl */
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

#delet-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

#symbol-container {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    border: 8px solid var(--error-50, #FEF3F2);
    background: var(--error-100, #FEE4E2);
    margin-bottom: 4%;
}

#delete-caution {
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
    margin-bottom: 0.5%;
}

#delete-caution-detail {
    align-self: stretch;
    color: var(--gray-500, #667085);

    /* Text sm/Normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

#delete-caution-detail-name {
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

#delete-cancel-button {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--grey-stroke, #DEDEDE);
    background: var(--white, #FFF);

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    margin-right: 3%;
    margin-left: 3%;
    cursor: pointer;
}

#delete-cancel-button-span {
    color: var(--gray-700, #344054);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

#delete-yes-button {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #FC5A5A;
    background: #FC5A5A;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

#delete-yes-button-span {
    color: var(--white, #FFF);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

#delete-option-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid green; */
    width: 100%;
}

#detail-delete {
    width: 100%;
    margin-left: 6%
        /* display:inline-block; */
        /* flex-direction: column; */

        /* border: 5px soild green; */
}

#popup-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

}